body, html  {
  font-family: helvetica, sans-serif, arial;
  font-size: 1em;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 240, 240);
  height: 100%;
  margin: 0;
}
.box {
    display: block;
    height: 100%;
}
.xterm, .xterm-viewport {
  overflow-y: hidden !important;
}

#terminal-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
#terminal-container .terminal {
    background-color: #000000;
    color: #fafafa;
    height: 100%;
}
#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
#bottomdiv {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-color: white;
    border-style: solid none none none;
    border-width: 1px;
    z-index: 99;
    height: 19px;
}
